.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f9f9f9; /* Optional background color */
  }
  
  .login-container h2 {
    text-align: center;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center elements inside the form */
    width: 300px; /* Set the width of the form */
  }
  
  .login-container label {
    align-self: flex-start; /* Align labels to the start */
    margin-bottom: 5px;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%; /* Full width of the form */
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .login-container button {
    width: 100%; /* Full width of the form */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  
  .login-container p {
    color: red;
    margin-top: 5px;
    text-align: center; /* Center align error message */
  }
  